option_settings:
  aws:elasticbeanstalk:application:environment:
    PARSE_MOUNT: "/parse"
    APP_ID: "FBUDisturb"
    MASTER_KEY: "masterKey"
    DATABASE_URI: "mongodb://heroku_jt8cxgwh:qjpu65d8gh1fndf311egdhmrma@ds051553.mlab.com:51553/heroku_jt8cxgwh"
    NODE_ENV: "production"

  aws:elasticbeanstalk:container:nodejs:
    NodeCommand: "npm start"
